<ion-content padding>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 95%">
      <ion-col>
        <img src="assets/imgs/LogoTransparente.png" class="logo">
        <ion-item class="inputItem">
          <ion-label position="floating" color="medium">{{ 'email' | translate }}</ion-label>
          <ion-input type="email" class="textInput" [(ngModel)]="userData.email"></ion-input>
        </ion-item>
        <ion-item class="inputItem">
          <ion-label position="floating" color="medium">{{ 'password' | translate }}</ion-label>
          <ion-input type="password" class="textInput" [(ngModel)]="userData.password"></ion-input>
        </ion-item>
        <ion-button class="botonPrincipal" expand="block" (click)='login();'>{{ 'login' | translate }}</ion-button>
        <ion-button class="botonRegistro" style="text-transform: none;" fill="clear" expand="block" (click)='abrirRegistro();'>{{ 'registerM' | translate }}</ion-button>
      </ion-col>
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 5%">
      <ion-col>
        <ion-text color="medium">
          <h5 class="textoCopyrigth">{{ 'copyrigth' | translate }}</h5>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> 
