@import url('../../theme/tecnofin.scss');

.botonVolver2{
    --background:"transparent";
    --color : "medium";
    margin-top: 5%;
    margin-bottom: 5%;
}

.botonComprar{
    --background: #013553;
    margin-top: 5%;
    margin-bottom: 5%;
}