ion-button{
    --padding-bottom: 24px;
    --padding-top: 24px
}

.inputItem{
    margin-top: 8px;
    border-radius: 5px;
}

ion-label,ion-input, ion-text, ion-button{
    font-family: "sans-serif";
}

ion-toolbar{
    --color : "darkblue"
}

.logo{
    margin-bottom: 10%;
}

.textoCopyrigth{
    font-size: 9px;
    text-align: center;
}

.botonPrincipal{
    --background: #013553;
    --background-activated: #02263a;
    margin-top: 20%;
}

.botonRegistro{
    --background:"transparent";
    --color : "medium";
    margin-top: 10%;
}

.botonVolver{
    --background:"transparent";
    --color : "medium";
    margin-top: 10%;
    margin-bottom: 5%;
}

