<ion-header>
  <ion-toolbar color="grayblue">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'home' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row justify-content-center align-items-center>
      <ion-col>
        <ion-card class="cardRoja" >
            <ion-text color="light" >
              <h1 class="textoGrande">
                  {{this.tBalance + ' TH/s'}}
              </h1>
              <h1 class="textoPequeño">
                  {{ 'hashrate' | translate }}
              </h1>
            </ion-text>
        </ion-card> 
        <ion-card class="cardAzul" >
            <ion-text color="light" >
              <h1 class="textoGrande">
                 {{this.balance + ' BTC'}}
              </h1>
              <h1 class="textoMediano">
                  {{ 'balance' | translate }}
              </h1>
            </ion-text>
        </ion-card> 
        <ion-card class="cardAzul" >
            <ion-text color="light" >
              <h1 class="textoGrande">
                 {{this.hBalance + ' BTC'}}
              </h1>
              <h1 class="textoMediano">
                  {{ 'total' | translate }}
              </h1>
            </ion-text>
        </ion-card> 
        <ion-card class="cardAzul" >
            <ion-text color="light" >
              <h1 class="textoGrande">
                 {{'$ ' + this.dBalance}}
              </h1>
              <h1 class="textoMediano">
                  {{ 'equivalencia' | translate }}
              </h1>
            </ion-text>
        </ion-card> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
